Django==3.0.8
django-filter==2.2.0
isort==4.3.21
django-graphql-auth==0.3.11
django-graphql-jwt==0.3.0
graphene==2.1.8
graphene-django==2.12.1
graphql-core==2.3.2
graphql-relay==2.0.1
mysqlclient==2.0.1